@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --header-height: 48px;
  --header-padding: 24px;
  --header-height-total: calc(calc(var(--header-height) + calc(2*var(--header-padding))));
  --header-height-expanded: 356px;
}

:target { scroll-margin-top: calc(var(--header-height-total) - 2px) } 
/* @media(max-width: 640px) { 
  :target { scroll-margin-top: calc(var(--header-height-expanded) - 2px) }
} */

.soma-header-height{
  height: var(--header-height);
}

.soma-header-padding{
  padding-top: var(--header-padding);
  padding-bottom: var(--header-padding);
}
.soma-header-y {
  height: var(--header-height-total);
}

.home-y {
  min-height: calc(100vh - var(--header-height-total));
}

.textlogo-width {
  width: calc(3.033208333 * var(--header-height));
}

.soma-header-expand {
  animation-name: expand;
  animation-duration: .6s;
  height: var(--header-height-expanded)
}
/* @keyframes expand {
  from {height: var(--header-height-total)}
  to {height: auto}
} */
@keyframes expand {
  from {height: var(--header-height-total)}
  to {height: var(--header-height-expanded)}
}
.soma-header-retract {
  animation-name: retract;
  animation-duration: .3s;
  height: var(--header-height-total)
}
@keyframes retract {
  from {height: var(--header-height-expanded)}
  to {height: var(--header-height-total)}
}



/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* html {
  scroll-behavior: smooth;
} */

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}


.fade-in-hidden {
  opacity: 0;
}
.fade-in-shown {
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}