@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --header-height: 48px;
  --header-padding: 24px;
}

:target { scroll-margin-top: calc(var(--header-height) + calc(2*var(--header-padding))); }
.soma-header-height{
  height: var(--header-height);
}

.soma-header-padding{
  padding-top: var(--header-padding);
  padding-bottom: var(--header-padding);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* html {
  scroll-behavior: smooth;
} */

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
